[submodule "vendor/github.com/inconshreveable/log15"]
	path = vendor/github.com/inconshreveable/log15
	url = https://github.com/inconshreveable/log15
[submodule "vendor/github.com/stripe/veneur"]
	path = vendor/github.com/stripe/veneur
	url = https://github.com/stripe/veneur
[submodule "vendor/github.com/felixge/pidctrl"]
	path = vendor/github.com/felixge/pidctrl
	url = https://github.com/felixge/pidctrl
[submodule "vendor/github.com/gonum/stat"]
	path = vendor/github.com/gonum/stat
	url = https://github.com/gonum/stat
[submodule "vendor/github.com/gonum/floats"]
	path = vendor/github.com/gonum/floats
	url = https://github.com/gonum/floats
[submodule "vendor/github.com/gonum/matrix"]
	path = vendor/github.com/gonum/matrix
	url = https://github.com/gonum/matrix
[submodule "vendor/github.com/gonum/blas"]
	path = vendor/github.com/gonum/blas
	url = https://github.com/gonum/blas
[submodule "vendor/github.com/gonum/internal"]
	path = vendor/github.com/gonum/internal
	url = https://github.com/gonum/internal
[submodule "vendor/github.com/gonum/lapack"]
	path = vendor/github.com/gonum/lapack
	url = https://github.com/gonum/lapack
